/* import scss utilities */
@import "./theme/variables";
@import "./theme/mixins.scss";
@import "./theme/icons";
@import "./theme/border";

/* import scss component */
@import "./theme/layout/_default";

/* import scss pages */
@import "./theme/pages/profiles";

:root {
  --theme-deafult: #ff4c3b;
  --theme-deafult: #eb594c;
  // This gradient color only for gym layout
  --theme-gradient1: #01effc;
  --theme-gradient2: #485ff2;
}
@import "./theme/style";
