/*-----------------------------------------------------------------------------------

Pixelit-dev

----------------------------------------------------------------------------------- */

/* 1. General CSS


/*=====================
1.General CSS start
==========================*/
.theme-color {
  color: var(--theme-deafult);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px !important;
  font-family: $font_manrope;
  position: relative;
  font-weight: 400;
  background-color: color(white) !important;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: color(orange);
  border-radius: $b-radius-sm;
}

a {
  // color: color(white) !important;
  text-decoration: none !important;
}
p {
  font-size: 16px !important;
  font-family: $font_manrope;
}
h1 {
  font-size: $font-size-h1;
  color: color(dark-font);
  font-weight: 700;
}

h2 {
  font-size: $font-size-h2;
  color: color(dark-font);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
}

h3 {
  font-size: $font-size-h3;
  color: color(dark-font);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
}

h4 {
  font-size: $font-size-h4;
  color: color(dark-font);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
}

h5 {
  font-size: $font-size-h4;
  color: color(dark-font);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
}

h6 {
  font-size: $font-size-h4;
  color: color(dark-font);
  font-weight: 400;
  line-height: 24px;
  line-height: 24px;
}

// custom  link button
.ctm-btn-link {
  background-color: color(purple);
  padding: 10px 36px;
  color: color(white) !important;
  border-radius: $b-radius-sm;
  font-size: $font-size-small;
  font-weight: 700;
}

// grayscale
.grayscale {
  filter: grayscale(100%);
}
// blur-50
.blur-50 {
  filter: blur(2px);
}

.tooltip.b-tooltip-light .tooltip-inner {
  color: #D74165 !important;
  background-color: color(white) !important;
  padding: 10px 20px !important;
  font-weight: 600;
  font-size: $font-size-base;
}
.tooltip-inner {
  max-width: 500px;
  padding: .25rem .5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 50px;
}

.font-12 {
  font-size: $font-size-small !important;
}

@include max-rwd(280, 1192) {
  p {
    font-size: 14px !important;
    font-family: $font_manrope;
  }
  h1 {
    font-size: $font-size-h1-sm !important;
    color: color(dark-font);
    font-weight: 700;
  }

  h2 {
    font-size: $font-size-h2-sm !important;
    color: color(dark-font);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  h3 {
    font-size: $font-size-h3-sm !important;
    color: color(dark-font);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  h4 {
    font-size: $font-size-h4-sm !important;
    color: color(dark-font);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  h5 {
    font-size: $font-size-h4-sm !important;
    color: color(dark-font);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  h6 {
    font-size: $font-size-h4-sm !important;
    color: color(dark-font);
    font-weight: 400;
    line-height: 24px;
    line-height: 24px;
  }
}
